.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

.content_primary {
	width: 70%;
	clear:both;
	border-left: 1px;
	float: right;
}

.content_secondary {
	width: 30%;
	float: left;
	clear:both;
}