/* App custom styles */
.text-align-center {
	text-align: center;
}
.text-align-right {
	text-align: right;
}
.hide {
	visibility: hidden;
}

label.missing  {
  color:#FF0000;
  font-weight:bold;
}

.content-primary {
	width: 70%;
	clear:both;
	border: 5px;
	padding: 20px;
	float: right;
}

.slider1 {
	float: right;
	clear: both;
	padding-right: 30px;
}

.content-secondary {
	width: 20%;
	float: left;
	border: 5px;
	padding: 20px;
}

#content-overlay {
	width: 100px;
	border: 2px;
	padding: 2px;
}

#add-task {
	width: 150px;
}

.task-item li{
	max-height: 10px;
}

.main {
	min-height: 760px;
}

.flip-ab,.flip-a {
	float: right;
}